.lottery {
    justify-content: flex-start;
    align-items: baseline;

}

.lottery .lable {
    margin-right: 5px;
    font-weight: bold;
}

.lottery .row {
    font-size: 20px;
    align-items: baseline;
}

header ul#globalMu li:nth-child(1n) {
    margin-right: 24px;
}

header ul#globalMu {
    width: 80%;
}

.indexPage .gameUl li {
    cursor: pointer;
}