.lottery {
    justify-content: flex-start;
    align-items: baseline;

}

.lottery .lable {
    margin-right: 5px;
    font-weight: bold;
}

.lottery .row {
    font-size: 20px;
    align-items: baseline;
}

header ul#globalMu li:nth-child(1n) {
    margin-right: 24px;
}

header ul#globalMu {
    width: 80%;
}

header.admin ul#globalMu li:nth-child(1n) {
    margin-right: 8px;
    float: left;
}

header.admin ul#globalMu li:nth-child(5n) {
    margin-right: 0px;
    float: right;
}

header.admin ul#globalMu {
    width: 70%;
}

.indexPage .gameUl li {
    cursor: pointer;
}